.wrapper{
    width:100%;
    padding:1.5rem;
    border-bottom:1px solid var(--stroke-color);
    display:flex;
}

.left{
    padding-right:1rem;
}

.avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    flex:0 0 auto;

    img{
        width:100%;
        height:100%;
        object-fit:cover;
    }
}

.right{
    flex:1;
    textarea{
        font-size:1.1rem;
        min-height:50px;
        transition: all .15s ease-out;

        &.open{
            min-height:150px;
        }
    }
}

.footer{
    display:flex;
    justify-content:space-between;
    align-items:center;

    span{
        font-size:.9rem;
        color:var(--grey-color);
    }
}

.modal{
    position:fixed;
    top:0;
    left:0;
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    z-index:9;
    .wrapper{
        z-index:10;
        position:relative;
        flex-wrap:wrap;
        background:var(--white-color);
        max-width:700px;
        border-radius:14px;
        padding:2rem;
        .postWrapper{
            width:100%;

            .post{
                cursor: initial;
                padding:0;
                &::before{
                    left:1.5rem;
                }
                &:hover{
                    background:transparent;
                }
            }
        }
        textarea{
            min-height:150px;
        }
    }

    .modalWrapper{
        padding-top:2rem;
        display:flex;
        width:100%;
        position:relative;
        &::before{
            width:1px;
            height:2rem;
            top:0;
            left:1.5rem;
            background:var(--stroke-color);
            content:'';
            display:block;
            position:absolute;
            z-index:-1;
        }
    }
}

.backdrop{
    background:rgba(0,0,0,0.2);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9;
}