.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.content {
    max-height: 90vh;
    max-width: 70vw;
    // overflow:hidden;
    display: flex;
    // align-items:center;
    justify-content: center;
    position: relative;
    z-index: 2;
    gap: 2px;
    div {
        // width: 100%;
        display: flex;
        max-height: 90vh;
        align-items: center;
        justify-content: center;
    }
    img {
        max-width: 100%;
        max-height: 90vh;
        // flex:1;
        object-fit: contain;
    }
}