.header {
    width: 100%;
    position: relative;
    padding: 0 1.5rem;
    p {
        a {
            color: var(--primary-color);
        }
    }
}

.cover {
    width: calc(100% + 3rem);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1040px) {
        height: 150px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    @media screen and (max-width: 1040px) {
        width: 100px;
        height: 100px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.nameWrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    // margin-bottom:-.25rem;
    h1 {
        margin-right: .5rem;
    }
}

h1 {
    font-size: 2rem;
    margin: 0;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -4rem;
    @media screen and (max-width: 1040px) {
        flex-wrap: wrap;
        margin-top: -1.25rem;
    }
    &.noCover {
        margin-top: 2rem;
    }
}

.followStats {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: -1.25rem;
    p {
        strong {
            margin-right: 0.25rem;
        }
        span {
            color: var(--grey-color);
        }
    }
    @media screen and (max-width: 1040px) {
        flex-wrap: wrap;
        gap: .5rem;
    }
}

.tabs {
    width: 100%;
    display: flex;
    align-items: center;
    // padding: 0 1.5rem;
    border-bottom: 1px solid var(--stroke-color);
}

.tab {
    padding: 1rem 0rem;
    position: relative;
    display: block;
    text-align: center;
    font-size: 1rem;
    flex: 1;
    &.active {
        font-weight: bold;
        &::after {
            width: 100%;
            background: var(--primary-color);
            height: 3px;
            border-radius: 40px;
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.more {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--stroke-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    cursor: pointer;
    button {
        cursor: pointer;
        background: none;
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    position:relative;
    z-index:10;
    .moreDropdown {
        position: absolute;
        top: calc(100% + .5rem);
        right: 0;
        background: var(--white-color);
        border: 1px solid var(--stroke-color);
        border-radius: 14px;
        padding: 0;
        width: 250px;
        p {
            padding: 1rem;
            margin: 0;
            display: flex;
            align-items: center;
            img,
            &>span:first-child {
                margin-right: .5rem;
            }
        }
    }
}

.infoRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.moreBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}