.sidebar {
    min-width: 250px;
    padding: 2rem 0;
    margin-left: -250px;
    position: sticky;
    top: 0;
    left: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    background: var(--white-color);
    z-index: 8;
    padding-top: 3rem;
    height: 100vh;
    border-right: 1px solid var(--stroke-color);
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    img {
        width: 40px;
        height: auto;
        margin-right: 1rem;
    }
}

.menuItem {
    position: relative;
}

.badge {
    width: 24px;
    height: 24px;
    font-size: .8rem;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    position: absolute;
    left: 1.25rem;
    top: -.25rem;
    border: 2px solid var(--white-color);
}

.avatar {
    width: 40px;
    height: 40px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header {
    display: flex;
    align-items: center;
    &>div:last-child {
        margin-left: 1rem;
        span {
            color: #888;
            font-size: .9rem;
        }
    }
}

.menu {
    padding: 1rem 0;
    a {
        display: flex;
        align-items: center;
        margin: 2rem 0;
        color: #111;
        opacity: .7;
        text-decoration: none;
        &:hover {
            opacity: 1;
        }
        img {
            margin-right: 1rem;
            width: 36px;
            height: 36px;
        }
        strong {
            font-size: 1.1rem;
        }
    }
}

.menuActive {
    opacity: 1 !important;
}