.right {
    width: 400px;
    margin-right: -400px;
    height: 100vh;
    padding: 1.5rem;
    position: sticky;
    z-index: 9;
    top: 0;
    @media screen and (max-width: 1440px) {
        margin-right: 0;
    }
}

.suggested {
    background: var(--light-color);
    border-radius: 14px;
    padding: 2rem;
    width: 100%;
    h4 {
        font-size: 1.3rem;
        margin: 0;
    }
    &>p {
        font-size: .8rem;
        color: #888;
    }
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    cursor: pointer;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.avatar {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: .75rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.userRight {
    p {
        margin: 0;
    }
    span {
        font-size: .9rem;
        color: #888;
    }
}

.copy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    position: sticky;
    p {
        width: 100%;
        text-align: center;
        color: var(--grey-color);
        font-size: .9rem;
        margin: 0;
        margin-bottom: .25rem;
    }
    img {
        width: 32px;
        height: 32px;
        margin-top: 1rem;
    }
    a {
        opacity: .6;
        font-weight: bold;
        color: var(--primary-color);
        display: inline-block;
        &:hover {
            opacity: 1;
        }
    }
}